<section class="features-section-5 testimonials-1 bg-4 section" id="download">
  <div class="overlay-color">
    <div class="container">
      <div class="row section-separator light-text">

        <div class="section-header col-md-10 col-md-offset-1">
          <h2 class="section-heading">Download the App Now!</h2>
          <p class="sub-title">Over 20,000 people using this app.</p>
        </div>


        <div class="clearfix"></div>

        <div class="btn-form btn-scroll text-center">

          <a href="#" class="btn btn-icon left-icon btn-fill">
            <i class="icon icon-app-store"></i>
            <span class="btn-text">Play Store</span>
          </a>
          <a href="#" class="btn btn-icon left-icon btn-fill">
            <i class="icon icon-google-play"></i>
            <span class="btn-text">Play Store</span>
          </a>
          <a href="#" class="btn btn-icon left-icon btn-fill">
            <i class="icon icon-windows"></i>
            <span class="btn-text">MS Store</span>
          </a>

        </div>


        <div class="clearfix"></div>

        <div class=" col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <div class="swiper-container">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <blockquote>Agile responsive ideate viral parallax earned media thought leader pair programming parallax pivot long shadow workflow.</blockquote>
                <p class="client-profile">
                  <img src="/public/images/clients-pic/client-1.jpg" alt="" class="client-img img-responsive">
                  <span class="detail-group text-left">
                    <span class="name">John Doe</span>
                    <span class="position">XyZ Network</span>
                  </span>
                </p>
              </div>

              <div class="swiper-slide">
                <blockquote>Agile responsive ideate viral parallax earned media thought leader pair programming parallax pivot long shadow workflow.</blockquote>
                <p class="client-profile">
                  <img src="/public/images/clients-pic/client-2.jpg" alt="" class="client-img img-responsive">
                  <span class="detail-group text-left">
                    <span class="name">John Doe</span>
                    <span class="position">XyZ Network</span>
                  </span>
                </p>
              </div>

              <div class="swiper-slide">
                <blockquote>Agile responsive ideate viral parallax earned media thought leader pair programming parallax pivot long shadow workflow.</blockquote>
                <p class="client-profile">
                  <img src="/public/images/clients-pic/client-3.jpg" alt="" class="client-img img-responsive">
                  <span class="detail-group text-left">
                    <span class="name">John Doe</span>
                    <span class="position">XyZ Network</span>
                  </span>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>