{{{ _editable }}}
<section class="features-section-5 testimonials-1 bg-4 section" id="download">
  <div class="overlay-color">
    <div class="container">
      <div class="row section-separator light-text">

        <div class="section-header col-md-10 col-md-offset-1">
          <h2 class="section-heading">{{ title }}</h2>
          <p class="sub-title">{{ subtitle }}</p>
        </div>

        <div class="clearfix"></div>

        {{#each body}}
          {{> (lookup . 'component') }}
          <div class="clearfix"></div>
        {{/each}}
      </div>
    </div>
  </div>
</section>