{{{ _editable }}}
<div class="feature-item text-center">
  <div class="gradient-border">
    <i class="icon features-icon gradient-text {{ icon }}"></i>
  </div>
  <div class="feature-content text-center">
    <h3 class="title">{{ title }}</h3>
    <p>{{ description }}</p>
  </div>
</div>