{{{ _editable }}}
<section class="features-section-2 bg-2 section" id="how-it-works">
  <div class="overlay-color">
    <div class="container">
      <div class="row section-separator light-text">
        <div class="section-header col-md-10 col-md-offset-1">
          <h2 class="section-heading">How it Works</h2>
          <p class="sub-title">Pitch deck SpaceTeam sticky note workflow disrupt innovate experiential</p>
        </div>

        <div class="part-1 col-xs-12">
          <div class="row">

            <div class="features-item text-center col-sm-3 col-xs-12">

              <div class="icon-outer">
                <i class="icon features-icon gradient-text-full icon-icon-house-alt"></i>
              </div>

              <h4 class="title m-t-30">Get started with app</h4>

            </div>
            <div class="features-item text-center col-sm-3 col-xs-12">

              <div class="icon-outer">
                <i class="icon features-icon gradient-text-full icon-icon-like"></i>
              </div>

              <h4 class="title m-t-30">Customize as you need</h4>

            </div>
            <div class="features-item text-center col-sm-3 col-xs-12">

              <div class="icon-outer">
                <i class="icon features-icon gradient-text-full icon-icon-cloud-download-alt"></i>
              </div>

              <h4 class="title m-t-30">Upload your photos</h4>

            </div>
            <div class="features-item text-center col-sm-3 col-xs-12">

              <div class="icon-outer">
                <i class="icon features-icon gradient-text-full icon-icon-lock-alt"></i>
              </div>

              <h4 class="title m-t-30">Your photos will be scure</h4>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>