{{{ _editable }}}<div class="features-item text-center col-sm-3 col-xs-12">

  <div class="icon-outer">
    <svg class="ico features-icon">
      <use xlink:href="{{asset 'public/icons/icons.svg#' }}{{ icon.icon }}"></use>
    </svg>
  </div>

  <h4 class="title m-t-30">{{ title }}</h4>

</div>