<section class="features-section-3 section app-swiper-slide" id="screenshots">
  <div class="container">
    <div class="row section-separator">

      <div class="features-content m-t-50 col-md-6">
        <div class="section-header text-left m-b-30">
          <h2 class="section-heading gradient-text-full">Screenshots</h2>
        </div>


        <div class="detail">
          <p>Earned media human-centered design 360 campaign cortado intuitive pitch deck agile prototype sticky note unicorn. Thnker-maker-doer hacker innovate earned media waterfall is so 2000 and late.</p>
        </div>

      </div>
      <div class="col-md-6">
        <div class="swiper-container screenshots-thumb">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="item"><img src="/public/images/app-screenshots/1.png" alt=""></div>
            </div>

            <div class="swiper-slide">
              <div class="item"><img src="/public/images/app-screenshots/2.png" alt=""></div>
            </div>

            <div class="swiper-slide">
              <div class="item"><img src="/public/images/app-screenshots/3.png" alt=""></div>
            </div>

            <div class="swiper-slide">
              <div class="item"><img src="/public/images/app-screenshots/4.png" alt=""></div>
            </div>

          </div>
          <div class="swiper-pagination "></div>

        </div>
      </div>

    </div>

  </div>
</section>