<section class="features-section-4 section bg-3" id="subscribe">
  <div class="overlay-color">
    <div class="container">
      <div class="row section-separator light-text">
        <div class="section-header col-md-10 col-md-offset-1">
          <h2 class="section-heading">Newsletter Form</h2>
          <p class="sub-title">If your app is not released yet. You can use this form to collect emails of the user.</p>
        </div>

        <div class="part-1 col-sm-6 col-sm-offset-3 col-xs-12">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <form method="post" class="single-form text-center">
                <div class="container-fluid">

                  <p class="subscription-success"></p>
                  <p class="subscription-failed"></p>

                  <div class="row">
                    <div class="input-group">

                      <input type="email" id="subscriber-email" name="email" placeholder="Enter your email address" class="form-control">

                      <div class="input-group-btn">
                        <button class="btn btn-fill">SUBSCRIBE</button>
                      </div>

                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>