* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

html, body {
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-style: none;
  line-height: 25px;
  font-weight: 500;
  overflow-x: hidden !important;
  text-align: left;
  position: relative;
}

.main-navbar-top {
  display: none;
}

.bg-1 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.color--1 {
  .overlay-color {
    background-image: linear-gradient(130deg, rgba(73, 84, 222, 0.85) 0%, rgba(170, 73, 222, 0.85) 100%);
    background-image: -webkit-linear-gradient(130deg, rgba(73, 84, 222, 0.85) 0%, rgba(170, 73, 222, 0.85) 100%);
    background-image: -moz-linear-gradient(130deg, rgba(73, 84, 222, 0.85) 0%, rgba(170, 73, 222, 0.85) 100%);
    background-image: -ms-linear-gradient(130deg, rgba(73, 84, 222, 0.85) 0%, rgba(170, 73, 222, 0.85) 100%);
    background-image: -o-linear-gradient(130deg, rgba(73, 84, 222, 0.85) 0%, rgba(170, 73, 222, 0.85) 100%);
  }
}

.color--2 {
  .overlay-color {
    background-image: linear-gradient(130deg, rgba(0, 114, 255, 0.85) 0%, rgba(0, 198, 255, 0.85) 100%);
    background-image: -webkit-linear-gradient(130deg, rgba(0, 114, 255, 0.85) 0%, rgba(0, 198, 255, 0.85) 100%);
    background-image: -moz-linear-gradient(130deg, rgba(0, 114, 255, 0.85) 0%, rgba(0, 198, 255, 0.85) 100%);
    background-image: -ms-linear-gradient(130deg, rgba(0, 114, 255, 0.85) 0%, rgba(0, 198, 255, 0.85) 100%);
    background-image: -o-linear-gradient(130deg, rgba(0, 114, 255, 0.85) 0%, rgba(0, 198, 255, 0.85) 100%);
  }
}

.color--3 {
  .overlay-color {
    background-image: linear-gradient(130deg, rgba(222, 73, 108, 0.85) 0%, rgba(254, 173, 39, 0.85) 100%);
    background-image: -webkit-linear-gradient(130deg, rgba(222, 73, 108, 0.85) 0%, rgba(254, 173, 39, 0.85) 100%);
    background-image: -moz-linear-gradient(130deg, rgba(222, 73, 108, 0.85) 0%, rgba(254, 173, 39, 0.85) 100%);
    background-image: -ms-linear-gradient(130deg, rgba(222, 73, 108, 0.85) 0%, rgba(254, 173, 39, 0.85) 100%);
    background-image: -o-linear-gradient(130deg, rgba(222, 73, 108, 0.85) 0%, rgba(254, 173, 39, 0.85) 100%);
  }
}

.overlay-color {
  position: relative;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header-section-1 .section-separator {
    padding-top: 50px;
}

.section-separator.sp-top {
    padding-bottom: 0px;
}

.section-separator {
    display: block;
    padding-top: 125px;
    padding-bottom: 125px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.text-center {
    text-align: center;
}

.header-section-1 .logo-link {
    max-width: 180px;
    margin: 30px 0;

    @media (max-width: 767px) {
      margin-bottom: 45px;
    }
}

a {
    text-decoration: none !important;
    display: inline-block;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-section-1 .title {
    color: #ffffff;
}

h1 {
    font-size: 65px;
    line-height: 95px;
    font-weight: 300;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 40px;
}

.btn.btn-fill, .btn.btn-fill .icon, .btn.btn-fill:hover {
    background-color: #000031;
    color: #ffffff;
}

.btn.btn-fill {
    padding: 15px 30px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn {
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    overflow: hidden;
    outline: 0;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-section-1 .image-group {
    margin-top: 80px;
    text-align: center;
}

.header-section-1 .image-group img:first-child, .header-section-1 .image-group img:last-child {
    position: relative;
    top: 36px;
}

.header-section-1 .image-group img {
    box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.35);
}

.header-section-1 .image-group img {
    width: 33%;
    display: inline-block;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header-section-1 .part-1 {
  max-width: 650px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  h1, h2 {
    font-size: 45px;
    line-height: 65px;
    font-weight: 300;
  }
}